@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Poppins";
}

.font-Sigmar{
  font-family: "Poppins";
  font-weight: 900;
}
.small{
  width: 200px;
  background-size: cover;
}

.hero-bg{
  background: "./assets/logo.jpg";
}